@import '../components/Components.css';
@import './style.css';

:root {
  --bs-body-font-family: var(--font-urbanist), sans-serif;
  --deep-sea: #003b4d;
  --sky-blue: #75abd1;
  --changing-sea: #509ca2;
  --steel: #5b6670;
  --charcoal-gray: #24272a;
  --passion: #e87722;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-urbanist), sans-serif;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}